/*  aidé de bootstrap, j'effectue aussi mes propres resets persos
    ainsi que toute modification de style général dont j'ai besoin */

@font-face {
    font-family: "robotocondregular";
    src: url(/fonts/Roboto_Condensed-Regular.woff2);
}

@font-face {
    font-family: "Impact";
    src: url(/fonts/impact.woff2);
}

* {
    color: var(--lightgreen);
    list-style: none;
    margin: 0;
    padding: 0;
}

/*  pour me faciliter la vie et les changements futurs
    je me suis fait mes propres variables.*/
:root {
    --font-para : "robotocondregular", sans-serif;
    --font-h2h3 : "impact", sans-serif;
    --darkgreen : #003429;
    --leafgreen : #7A9E7E;
    --lightgreen : #b3efb2;
    --bluewhite : #e8f1f2;
    --footercolor : #00251d;
    --leafboxfontcolor : #000000;
}

/*  Ici j'ajuste les paramètres généraux souhaité
    en consultant avec ma maquette. j'ai standardisé le rem
    pour qu'il fasse 10px, me facilitant son utilisation
    pour le responsive */
html { font-size: 62.5%; }
span { font-weight: bold; }

p { font-family: var(--font-para);
    font-size: 1.4rem; }
    
a { font-family: var(--font-para);
    font-size: 1.4rem;
    text-decoration: none;
    transition: color 0.3s ease, opacity 0.3s ease; }

h1 { font-size: 3.4rem; }
h2 { font-size: 2.4rem; }
h3 { font-size: 1.8rem; }

h1, h2, h3 { font-family: var(--font-para); }


/* quelques ajustements pour contrer bootstrap inclus */
ul, li {
    font-family: var(--font-para);
    font-size: 1.2rem;
    text-decoration: none;
    padding-left: 0;
}

body {
    background-color: var(--darkgreen);
}

.separatorfooter {
    border: solid 1px var(--lightgreen);
    width: 25%;
    opacity: 0.5;
    margin-bottom: 50px;
}

.separator {
    border: solid 1px var(--lightgreen);
    width: 15%;
    opacity: 0.5;
    margin-bottom: 70px;
    margin-top: 90px;
}

.topseparator {
    border: solid 1px var(--lightgreen);
    width: 15%;
    opacity: 0.5;
    margin-bottom: 50px;
    margin-top: 25px;
}

.separatorlarge {
    border: solid var(--lightgreen) 1px;
    width: 100%;
    opacity: 0.5;
    margin-top: 100px;
}

footer {
    background-color: var(--footercolor);
}

/*  À partir d'ici je commence à toujours à mes IDs & Classes.
    En commençant par la navbar. */

#mobileNavbar {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: var(--leafgreen);
    /*  Au départ, mes SVGs étaient hors de ma ligne verte.
        align-items & justify-content les ont remise à l'intérieur de la boite*/
    align-items: center;
    justify-content: space-around;
    /*  Ici je fixe la barre mobile en bas de mon écran*/
    position: fixed;
    bottom: 0;
    z-index: 2;
}

#navbarre a {
    color: var(--lightgreen);
}

#navbarre a:hover {
    color: #e8f1f2;
}

/* Bouton de la navbar*/
.contactBtn {
    background-color: var(--leafgreen);
    height: 33px;
    width: 90px;
    font-weight: 600;
    border-radius: 1rem;
    padding: 5px;
    transition: background-color 0.3s ease; 
}

.contactBtn:hover {
    background-color: var(--lightgreen);
}

#navbarre .contactBtn a {
    font-family: var(--font-para);
    font-size: 16px;
    color: var(--leafboxfontcolor);
}

/* Bouton de bas de page */
.contactBttn {
    background-color: var(--leafgreen);
    height: 38px;
    width: 160px;
    font-weight: 600;
    border-radius: 1rem;
    padding: 5px;
    transition: background-color 0.3s ease; 
}

.contactBttn:hover {
    background-color: var(--lightgreen);
}

.contactBttn a {
    font-size: 2rem;
    color: var(--leafboxfontcolor);
}

#textlogo {
    font-family: var(--font-h2h3);
    font-size: 7rem;
    line-height: 1;
    position: absolute;
    left: 10px;
}

/*  Pour créer une bordure sur ma span, j'ai utilisé du text shadow
    Il y aurait un paramètre "webkit" mais pas compatible sur firefox. */
#textlogo span {
    color: var(--darkgreen);
    text-shadow:
        -1px  1px 0 var(--lightgreen),  /* Ombre en haut gauche */
        1px  1px 0 var(--lightgreen),   /* Ombre en haut droite */
        -1px -1px 0 var(--lightgreen),  /* Ombre en bas gauche */
        1px -1px 0 var(--lightgreen);   /* Ombre en bas droite */
 
}

.herobanner {
    background-image: url(/img/LucBKingCon_scene_vide.jpg);
    background-size: cover;
    background-position: center;
    height: 283px;
}

/* Gestion des boites vertes */
.greenbox {
    background-color: var(--leafgreen);
    border-radius: 1rem;
}

.greenbox p {
    padding: 15px;
    color: var(--leafboxfontcolor);
}

.greenbox2 p {
    padding: 15px;
    color: var(--leafboxfontcolor);
    border: solid 1px var(--lightgreen);
    border-radius: 1rem;
}

.greenbox2 p {
    padding: 15px;
    color: var(--lightgreen);
}

/* Gestion des images */
.imgsize img {
    width: 415px;
    height: auto;
    border-radius: 1rem;
}

.imgsize2 img {
    width: 415px;
    height: auto;
    border-radius: 1rem;
}

.imgsize3 img {
    width: 415px;
    height: auto;
    border-radius: 1rem;
}

.imgsize4 img {
    width: 415px;
    height: auto;
    border-radius: 1rem;
}

/************************************/
/*  CSS du bouton de contact en bas */
#redirectContact p {
    margin-top: 55px;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 35px;
}

/* Bouton de bas de page */
.contactBttn {
    background-color: var(--leafgreen);
    height: 38px;
    width: 160px;
    font-weight: 600;
    border-radius: 1rem;
    padding: 5px
}

.contactBttn a {
    font-size: 2rem;
    color: var(--leafboxfontcolor);
}

#carouselExampleIndicators {
    max-width: 400px;
}

#carouselExampleIndicators img {
    border-radius: 1rem;
    margin-bottom: 50px;
}

#carouselExampleIndicators2 {
    max-width: 400px;
}

#carouselExampleIndicators2 img {
    border-radius: 1rem;
    margin-bottom: 50px;
}

#carouselExampleIndicators3 {
    max-width: 400px;
}

#carouselExampleIndicators3 img {
    border-radius: 1rem;
    margin-bottom: 50px;
}

.h2Impact {
    font-family: var(--font-h2h3);
    font-size: 5.5rem;
    margin-bottom: -2px;
}

.h2Impact span {
    color: var(--darkgreen);
    text-shadow:
        -1px  1px 0 var(--lightgreen),  /* Ombre en haut gauche */
        1px  1px 0 var(--lightgreen),   /* Ombre en haut droite */
        -1px -1px 0 var(--lightgreen),  /* Ombre en bas gauche */
        1px -1px 0 var(--lightgreen);   /* Ombre en bas droite */
}

/*  Je cible mon attribut "data-bs-target afin de personnaliser 
    les "traits" de bootstrap en petit ronds! */ 
.carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 100%;
}

/*******************/
/*  CSS du footer */
#footer {
    width: 430px;
    height: 370px;
}

#footer a, #footer p {
    color: var(--leafgreen);
}

.emailcontact img {
    margin-right: 5px;
    margin-bottom: 9px;
}

.footerleft p {
    margin-top: 5px;
}

.footerleft span {
    color: var(--leafgreen);
    font-weight: 800;
}

.footerleft img {
    margin-top: -30px;
}

.footerright div {
    margin-bottom: 5px;
}

.footerright p {
    font-weight: 800;
    margin-top: 20px;
}

/************************************************************/
/*  J'ai commencé par des medias query qui cache les navbar inutile en fonction
    de la taille de l'écran.*/

@media (max-width: 430px) {
    #navbarre {
        display: none;
    }
    
    /* On cache des images pour la version mobile */
    .desktopShowOnly {
        display: none;
    }

}

@media (min-width: 431px) {
    #mobileNavbar {
        display: none;
    }
}

@media (min-width: 1200px) {
    .herobanner {
        height: 835px;
        width: 100%;
    }

    #textlogo {
        font-size: 24rem;
        top: 250px;
    }

    p { font-family: var(--font-para);
        font-size: 1.6rem; }

    a { font-family: var(--font-para);
        font-size: 1.6rem; }

    h2 { font-size: 2.4rem; }
    h3 { font-size: 2.2rem; }
    
    /* Conteneur qui limite la place de mes textes */
    .boxperso {
        max-width: 1100px;
    }

    /*Bouton du bas*/
    .contactBttn {
        background-color: var(--leafgreen);
        height: 60px;
        width: 280px;
    }

    .contactBttn a {
        font-size: 3.5rem;
    }

    #carouselExampleIndicators, #carouselExampleIndicators2, #carouselExampleIndicators3 {
        max-width: 850px;
    }

    

    .h2Impact {
    font-size: 9.4rem;
    }

    /* Phrase du bouton contact bas de page*/
    #redirectContact .catchphrase {
        font-size: 3rem;
    }

    /* Bouton de bas de page */
    .contactBttn {
        background-color: var(--leafgreen);
        height: 60px;
        width: 280px;
    }

    /*********************/
    /*  Section footer */
    #footer {
    width: 100%;
    height: auto;
    }

    .footerleft {
        display: flex;
        flex-direction: row-reverse;
    }

    .footerleft .logo {
        margin-top: 5px;
        margin-right: 20px;
    }

    .footerleft .separator {
        display: none;
    }

    .footerright {
        display: flex;
        justify-content: space-around;
        width: 400px;
        text-align: center;
    }

}