/*  aidé de bootstrap, j'effectue aussi mes propres resets persos
    ainsi que toute modification de style général dont j'ai besoin */

@font-face {
    font-family: "robotocondregular";
    src: url(/fonts/Roboto_Condensed-Regular.woff2);
}

@font-face {
    font-family: "Impact";
    src: url(/fonts/impact.woff2);
}


* {
    color: var(--lightgreen);
    list-style: none;
    margin: 0;
    padding: 0;
}

/*  pour me faciliter la vie et les changements futurs
    je me suis fait mes propres variables.*/
:root {
    --font-para : "robotocondregular", sans-serif;
    --font-h2h3 : "impact", sans-serif;
    --darkgreen : #003429;
    --leafgreen : #7A9E7E;
    --lightgreen : #b3efb2;
    --bluewhite : #e8f1f2;
    --footercolor : #00251d;
    --leafboxfontcolor : #000000;
}

/*  Ici j'ajuste les paramètres généraux souhaité
    en consultant avec ma maquette. j'ai standardisé le rem
    pour qu'il fasse 10px, me facilitant son utilisation
    pour le responsive */
html { font-size: 62.5%; }
span { font-weight: bold; }

p { font-family: var(--font-para);
    font-size: 1.4rem; }
    
a { font-family: var(--font-para);
    font-size: 1.4rem;
    text-decoration: none;
    transition: color 0.3s ease, opacity 0.3s ease;}

h1 { font-size: 3.4rem; }
h2 { font-size: 2.4rem; }
h3 { font-size: 1.8rem; }

h1, h2, h3 { font-family: var(--font-para); }

h2 {
    font-family: var(--font-para);
    font-weight: 800;
}

/* quelques ajustements pour contrer bootstrap inclus */
ul, li {
    font-family: var(--font-para);
    font-size: 1.2rem;
    text-decoration: none;
    padding-left: 0;
}

body {
    background-color: var(--darkgreen);
}

.separatorfooter {
    border: solid 1px var(--lightgreen);
    width: 25%;
    opacity: 0.5;
    margin-bottom: 50px;
}

.separatorlarge {
    border: solid var(--lightgreen) 1px;
    width: 100%;
    opacity: 0.5;
    margin-top: 100px;
}

.impacth1 {
    margin: 50px 0;
    font-family: var(--font-h2h3);
    font-size: 4.8rem;
    text-align: center;
}

.impacth1 span {
    color: var(--darkgreen);
    text-shadow:
        -1px  1px 0 var(--lightgreen),  /* Ombre en haut gauche */
        1px  1px 0 var(--lightgreen),   /* Ombre en haut droite */
        -1px -1px 0 var(--lightgreen),  /* Ombre en bas gauche */
        1px -1px 0 var(--lightgreen);   /* Ombre en bas droite */
}

footer {
    background-color: var(--footercolor);
}

/*  À partir d'ici je commence à toujours à mes IDs & Classes.
    En commençant par la navbar. */

#mobileNavbar {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: var(--leafgreen);
    /*  Au départ, mes SVGs étaient hors de ma ligne verte.
        align-items & justify-content les ont remise à l'intérieur de la boite*/
    align-items: center;
    justify-content: space-around;
    /*  Ici je fixe la barre mobile en bas de mon écran*/
    position: fixed;
    bottom: 0;
    z-index: 2;
}

#navbarre a {
    color: var(--lightgreen);
}

#navbarre a:hover {
    color: #e8f1f2;
}

.contactBtn {
    background-color: var(--leafgreen);
    height: 33px;
    width: 90px;
    font-weight: 600;
    border-radius: 1rem;
    padding: 5px;
    transition: background-color 0.3s ease; 
}

.contactBtn:hover {
    background-color: var(--lightgreen);
}

#navbarre .contactBtn a {
    font-family: var(--font-para);
    font-size: 16px;
    color: var(--leafboxfontcolor);
}

.herobanner img {
    width: 430px;
    height: auto;
} 

.boxperso a {
    color: var(--lightgreen);
}

.boxperso a:hover {
    color: var(--bluewhite);
    
}

.boxperso ul, .boxperso li {
    list-style-type: disc;
}


/*******************/
/*  CSS du footer */
#footer {
    width: 430px;
    height: 370px;
}

#footer a, #footer p {
    color: var(--leafgreen);
}

.emailcontact img {
    margin-right: 5px;
    margin-bottom: 9px;
}

.footerleft p {
    margin-top: 5px;
}

.footerleft span {
    color: var(--leafgreen);
    font-weight: 800;
}

.footerleft img {
    margin-top: -30px;
}

.footerright div {
    margin-bottom: 5px;
}

.footerright p {
    font-weight: 800;
    margin-top: 20px;
}

/************************************************************/
/*  J'ai commencé par des medias query qui cache les navbar inutile en fonction
    de la taille de l'écran.*/

@media (max-width: 430px) {
    #navbarre {
        display: none;
    }
    
    .desktopShowOnly {
        display: none;
    }

}

@media (min-width: 431px) {
    #mobileNavbar {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .herobanner img {
        width: 100%;
        height: auto;
    }

    #footer {
        width: 100%;
    }

} 

@media (min-width: 1400px) {

    .herobanner img {

        width: 100%;
        max-width: 1440px;
        height: auto;
    }



    p { font-family: var(--font-para);
        font-size: 1.6rem; }

    a { font-family: var(--font-para);
        font-size: 1.6rem; }

    h2 { font-size: 2.4rem; }
    h3 { font-size: 2.2rem; }

    .boxperso {
        width: 1100px;
    }

    .impacth1 {
        font-size: 9.8rem;
    }

/*********************/
    /*  Section footer */
    #footer {
    width: 100%;
    height: auto;
    }

    .footerleft {
        display: flex;
        flex-direction: row-reverse;
    }

    .footerleft .logo {
        margin-top: 5px;
        margin-right: 20px;
    }

    .footerleft .separator {
        display: none;
    }

    .footerright {
        display: flex;
        justify-content: space-around;
        width: 400px;
        text-align: center;
    }

}