/*  aidé de bootstrap, j'effectue aussi mes propres resets persos
    ainsi que toute modification de style général dont j'ai besoin */

@font-face {
    font-family: "robotocondregular";
    src: url(/fonts/Roboto_Condensed-Regular.woff2);
}

@font-face {
    font-family: "robotocondbold";
    src: url(/fonts/Roboto_Condensed-Bold.woff2);
}

@font-face {
    font-family: "robotocondsemibold";
    src: url(/fonts/Roboto_Condensed-SemiBold.woff2);
}

@font-face {
    font-family: "Impact";
    src: url(/fonts/impact.woff2);
}


* {
    color: var(--lightgreen);
    list-style: none;
    margin: 0;
    padding: 0;
}

/*  pour me faciliter la vie et les changements futurs
    je me suis fait mes propres variables.*/
:root {
    --font-para : "robotocondregular", sans-serif;
    --font-h2h3 : "impact", sans-serif;
    --darkgreen : #003429;
    --leafgreen : #7A9E7E;
    --lightgreen : #b3efb2;
    --bluewhite : #e8f1f2;
    --footercolor : #00251d;
    --leafboxfontcolor : #000000;
}

/*  Ici j'ajuste les paramètres généraux souhaité
    en consultant avec ma maquette. j'ai standardisé le rem
    pour qu'il fasse 10px, me facilitant son utilisation
    pour le responsive */
html {
    font-size: 62.5%;
}

p {
    font-family: var(--font-para);
    font-size: 1.4rem;
}

a {
    font-family: var(--font-para);
    font-size: 1.4rem;
    text-decoration: none;
}

h2 { 
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
}

/* quelques ajustements pour contrer bootstrap inclus */
ul, li {
    font-family: var(--font-para);
    font-size: 1.2rem;
    text-decoration: none;
    padding-left: 0;
}

body {
    background-color: var(--darkgreen);
}

.separator {
    border: solid 1px var(--lightgreen);
    width: 25%;
    opacity: 0.5;
    margin-bottom: 50px;
}

.separatorlarge {
    border: solid var(--lightgreen) 1px;
    width: 100%;
    opacity: 0.5;
    margin-top: 100px;
}

.rightVerticalSeparator {
    height: 210px;
    width: 1px;
    border: 2px solid;
    margin: 15px 0;
    margin-left: 370px;
    opacity: 70%;
}

.leftVerticalSeparator {
    height: 210px;
    width: 1px;
    border: 2px solid;
    margin: 20px 0;
    margin-left: 50px;
    opacity: 70%;
}

footer {
    background-color: var(--footercolor);
}

/*  À partir d'ici je commence à toujours à mes IDs & Classes.
    En commençant par la navbar. */

#mobileNavbar {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: var(--leafgreen);
    /*  Au départ, mes SVGs étaient hors de ma ligne verte.
        align-items & justify-content les ont remise à l'intérieur de la boite*/
    align-items: center;
    justify-content: space-around;
    /*  Ici je fixe la barre mobile en bas de mon écran*/
    position: fixed;
    bottom: 0;
    z-index: 2;
}

#navbarre a {
    color: var(--lightgreen);
}

#navbarre a:hover {
    color: #e8f1f2;
}

.contactBtn {
    background-color: var(--leafgreen);
    height: 33px;
    width: 90px;
    font-weight: 600;
    border-radius: 1rem;
    padding: 5px
}

#navbarre .contactBtn a {
    font-family: var(--font-para);
    font-size: 16px;
    color: var(--leafboxfontcolor);
}


#textlogo {
    font-family: var(--font-h2h3);
    font-size: 7rem;
    line-height: 1;
    position: absolute;
    left: 10px;
}

/*  Pour créer une bordure sur ma span, j'ai utilisé du text shadow
    Il y aurait un paramètre "webkit" mais pas compatible sur firefox. */
#textlogo span {
    color: var(--darkgreen);
        text-shadow:
        -1px  1px 0 var(--lightgreen),  /* Ombre en haut gauche */
        1px  1px 0 var(--lightgreen),   /* Ombre en haut droite */
        -1px -1px 0 var(--lightgreen),  /* Ombre en bas gauche */
        1px -1px 0 var(--lightgreen);   /* Ombre en bas droite */
 
}

.herobanner {
    background-image: url(/img/LucBKingCon_scene_vide.jpg);
    background-size: cover;
    background-position: center;
    height: 283px;
} 

/*  Je crée mes designs de H3 pour "Graphic Design" "Web dev." et "Event org." */
.h3GraphAndEvent {
    font-family: "impact";
    font-size: 4.8rem;
    margin-right: 8px;
}

/*  J'ajuste le deuxieme mot pour mon design particulier */
.h3GraphAndEvent span {
    color: var(--darkgreen);
    text-shadow:
        -1px  1px 0 var(--lightgreen),  /* Ombre en haut gauche */
        1px  1px 0 var(--lightgreen),   /* Ombre en haut droite */
        -1px -1px 0 var(--lightgreen),  /* Ombre en bas gauche */
        1px -1px 0 var(--lightgreen);   /* Ombre en bas droite */
}

/*  Je crée mes cartes qui vont contenir texte et images */
.greencard {
    background-color: var(--leafgreen);
    width: 400px;
    height: 281px;
    border-radius: 1rem;
    margin-top: -10px;
}

/*  J'ajuste le texte parce que figma m'a trahi */
#liGreenLeaf p {
    font-size: 1.2rem;
    color: var(--leafboxfontcolor);
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 0 5px;
}

/*  Ici pareil */
#liGreenLeaf li {
    font-size: 1.2rem;
    color: var(--leafboxfontcolor);
    list-style-type: disc;
    margin-left: 40px;
}

/*  Je design mon bouton pour les pages détaillés */
.BtnKnowMore {
    margin-left: 70px;
    padding-top: 5px;
    padding-left: 8px;
    width: 100px;
    height: 30px;
    background-color: var(--darkgreen);
    border-radius: 1rem;   
}

.BtnKnowMore a {
    color: var(--bluewhite);
    font-size: 1.4rem;
}

/*  J'ajuste la taille et le placement de mes images dans les cards */
.imgGreenLeafCard {
    margin-left: -13px;
    height: 141px;
    margin-bottom: -1px;
}
/*  et j'en fais des versions "2" pour ajuster ma version inversé de "Web dev." */
.h3WebDev {
    font-family: "impact";
    font-size: 4.8rem;
    margin-left: 4px;
    margin-top: -47px;
}

.h3WebDev span {
    color: var(--darkgreen);
    text-shadow:
        -1px  1px 0 var(--lightgreen),  /* Ombre en haut gauche */
        1px  1px 0 var(--lightgreen),   /* Ombre en haut droite */
        -1px -1px 0 var(--lightgreen),  /* Ombre en bas gauche */
        1px -1px 0 var(--lightgreen);   /* Ombre en bas droite */
}

/*  Version 2 des cards*/
.greencard2 {
    background-color: var(--darkgreen);
    border: solid 1px var(--lightgreen);
    width: 400px;
    height: 281px;
    border-radius: 1rem;
    margin-top: -10px;
}

.imgDarkGreen {
    margin-left: -13px;
    height: 142px;
    margin-top: -2px;
}

#liDarkGreen p {
    font-size: 1.2rem;
    margin-top: -20px;;
}

#liDarkGreen li {
    font-size: 1.2rem;
    list-style-type: disc;
    margin-left: 50px;
}

.BtnKnowMore2 {
    margin-top: 35px;
    margin-left: 75px;
    padding-top: 5px;
    padding-left: 8px;
    width: 100px;
    height: 30px;
    background-color: var(--leafgreen);
    border-radius: 1rem;   
}

.BtnKnowMore2 a {
    color: var(--leafboxfontcolor);
    font-weight: 700;
    font-size: 1.4rem;
}


/*  l'adjuster me sers à resserer les cards entre elles
    et les lignes directrices verticales */
.adjuster {
     margin-bottom: -35px;
}

.adjustBtn3 {
    margin-top: 70px;
}

/*  CSS du bouton de contact en bas */
#redirectContact p {
    margin-top: 55px;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: -35px;
}

.contactBttn p {
    color: var(--leafboxfontcolor);
    background-color: var(--leafgreen);
    width: 170px;
    height: 40px;
    padding-top: 6px;
    border-radius: 1rem;

}


/*  CSS du footer */
#footer {
    width: 430px;
    height: 370px;
}

#footer a, #footer p {
    color: var(--leafgreen);
}

.emailcontact img {
    margin-right: 5px;
    margin-bottom: 9px;
}

.footerleft p {
    margin-top: 5px;
}

.footerleft span {
    color: var(--leafgreen);
    font-weight: 800;
}

.footerleft img {
    margin-top: -30px;
}

.footerright div {
    margin-bottom: 5px;
}

.footerright p {
    font-weight: 800;
    margin-top: 20px;
}



/************************************************************/
/*  J'ai commencé par des medias query qui cache les navbar inutile en fonction
    de la taille de l'écran.*/

@media (max-width: 430px) {
    #navbarre {
        display: none;
    }

}

@media (min-width: 431px) {
    #mobileNavbar {
        display: none;
    }
}

@media (min-width: 1200px) {
    .herobanner {
        height: 835px;
        width: 100%;
    }

    #textlogo {
        font-size: 30rem;
        top: 200px;
    }

    p {
    font-family: var(--font-para);
    font-size: 1.6rem;
    }

    a {
        font-family: var(--font-para);
        font-size: 1.6rem;
    }

    h2 { 
        font-size: 2.4rem;
    }

    h3 {
        font-size: 2.2rem;
    }

    .leftVerticalSeparator, .rightVerticalSeparator {
        margin-left: 0;
        padding: 0;

    }

    .h3WebDev{
        margin-top: 0px;
    }

    #footer {
    width: 100%;
    height: 200px;
    }

    .footerleft {
        display: flex;
        flex-direction: row-reverse;
    }

    .footerleft .logo {
        margin-top: 5px;
        margin-right: 20px;
    }

    .footerleft .separator {
        display: none;
    }

    .footerright {
        display: flex;
        justify-content: space-around;
        width: 400px;
        text-align: center;
    }
}