/*  aidé de bootstrap, j'effectue aussi mes propres resets persos
    ainsi que toute modification de style général dont j'ai besoin */

@font-face {
    font-family: "robotocondregular";
    src: url(/fonts/Roboto_Condensed-Regular.woff2);
}

@font-face {
    font-family: "Impact";
    src: url(/fonts/impact.woff2);
}

* {
    color: var(--lightgreen);
    list-style: none;
    margin: 0;
    padding: 0;
}

/*  pour me faciliter la vie et les changements futurs
    je me suis fait mes propres variables.*/
:root {
    --font-para : "robotocondregular", sans-serif;
    --font-h2h3 : "impact", sans-serif;
    --darkgreen : #003429;
    --leafgreen : #7A9E7E;
    --lightgreen : #b3efb2;
    --bluewhite : #e8f1f2;
    --footercolor : #00251d;
    --leafboxfontcolor : #000000;
}

/*  Ici j'ajuste les paramètres généraux souhaité
    en consultant avec ma maquette. j'ai standardisé le rem
    pour qu'il fasse 10px, me facilitant son utilisation
    pour le responsive */
html { font-size: 62.5%; }
span { font-weight: bold; }

p { font-family: var(--font-para);
    font-size: 1.4rem; }
    
a { font-family: var(--font-para);
    font-size: 1.4rem;
    transition: color 0.3s ease, opacity 0.3s ease;
    text-decoration: none; }

h1 { font-size: 3.4rem; }
h2 { font-size: 2.4rem; }
h3 { font-size: 1.8rem; }

h1, h2, h3 { font-family: var(--font-para); }



/* quelques ajustements pour contrer bootstrap inclus */
ul, li {
    font-family: var(--font-para);
    font-size: 1.2rem;
    text-decoration: none;
    padding-left: 0;
}

body {
    background-color: var(--darkgreen);
}

/* Je crée les différents separators dont j'ai besoin*/
.separator {
    border: solid 1px var(--lightgreen);
    width: 25%;
    opacity: 0.5;
    margin-bottom: 50px;
}

.separatorlarge {
    border: solid var(--lightgreen) 1px;
    width: 100%;
    opacity: 0.5;
    margin-top: 100px;
}

.topseparator {
    border: solid 1px var(--lightgreen);
    width: 15%;
    opacity: 0.5;
    margin-bottom: 80px;
    margin-top: 85px;
}

.rightVerticalSeparator {
    height: 210px;
    width: 1px;
    border: 2px solid;
    margin: 15px 0;
    margin-left: 50px;
    opacity: 70%;
}

.leftVerticalSeparator {
    height: 210px;
    width: 1px;
    border: 2px solid;
    margin: 20px 0;
    margin-right: 80px;
    opacity: 70%;
}

/* J'ajuste la couleur du footer */ 
footer {
    background-color: var(--footercolor);
}

/*  À partir d'ici je commence à toujours à mes IDs & Classes.
    En commençant par la navbar. */

#mobileNavbar {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: var(--leafgreen);

    /*  Au départ, mes SVGs étaient hors de ma ligne verte.
        align-items & justify-content les ont remise à l'intérieur de la boite*/
    align-items: center;
    justify-content: space-around;

    /*  Ici je fixe la barre mobile en bas de mon écran*/
    position: fixed;
    bottom: 0;
    z-index: 2;
}

#navbarre a {
    color: var(--lightgreen);
}

#navbarre a:hover {
    color: #e8f1f2;
}

/* Bouton contact en navbar*/
.contactBtn {
    background-color: var(--leafgreen);
    height: 33px;
    width: 90px;
    font-weight: 600;
    border-radius: 1rem;
    padding: 5px;
    transition: background-color 0.3s ease; 
}

.contactBtn:hover {
    background-color: var(--lightgreen);
}

#navbarre .contactBtn a {
    font-family: var(--font-para);
    font-size: 16px;
    color: var(--leafboxfontcolor);
}

/* Bouton de bas de page */
.contactBttn {
    background-color: var(--leafgreen);
    height: 38px;
    width: 160px;
    font-weight: 600;
    border-radius: 1rem;
    padding: 5px;
    transition: background-color 0.3s ease; 
}

.contactBttn:hover {
    background-color: var(--lightgreen);
}

.contactBttn a {
    font-size: 2rem;
    color: var(--leafboxfontcolor);
    text-decoration: none;
}

.herobanner img {
    width: 430px;
    height: auto;
} 

/*  Je crée mes designs de H3 pour "Graphic Design" "Web dev." et "Event org." */
.h3GraphAndEvent {
    text-align: end;
    font-family: "impact";
    font-size: 4.8rem;
    margin-right: 16px;
}

/*  J'ajuste le deuxieme mot pour mon design particulier */
.h3GraphAndEvent span {
    color: var(--darkgreen);
    text-shadow:
        -1px  1px 0 var(--lightgreen),  /* Ombre en haut gauche */
        1px  1px 0 var(--lightgreen),   /* Ombre en haut droite */
        -1px -1px 0 var(--lightgreen),  /* Ombre en bas gauche */
        1px -1px 0 var(--lightgreen);   /* Ombre en bas droite */
}

/*  Je crée mes cartes qui vont contenir texte et images */
.greencard {
    background-color: var(--leafgreen);
    width: 400px;
    height: 281px;
    border-radius: 1rem;
    margin-top: -10px;
}

/*  J'ajuste le texte parce que figma m'a trahi */
#liGreenLeaf p, #liGreenLeaf2 p {
    color: var(--leafboxfontcolor);
    font-size: 1.2rem;
    margin-top: 10px;
    padding: 0 5px;
}

/*  Ici pareil */
#liGreenLeaf li {
    font-size: 1.2rem;
    color: var(--leafboxfontcolor);
    list-style-type: disc;
    margin-left: 40px;
}

/*  Je design mon premier bouton pour les pages détaillés */
.BtnKnowMore {
    margin-top: 40px;
    margin-left: 75px;
    padding-top: 5px;
    padding-left: 8px;
    width: 100px;
    height: 30px;
    background-color: var(--darkgreen);
    border-radius: 1rem;
    transition: background-color 0.3s ease; 
}

.BtnKnowMore:hover {
    background-color: var(--footercolor);
}


.BtnKnowMore a {
    color: var(--bluewhite);
    font-size: 1.4rem;
}

/*  J'ajuste la taille et le placement de mes images dans les cards */
.imgGreenLeafCard {
    margin-left: -13px;
    height: 141px;
    margin-bottom: -1px;
}
/*  et j'en fais des versions "2" pour ajuster ma version inversé de "Web dev." */
.h3WebDev {
    font-family: "impact";
    font-size: 4.8rem;
    margin-left: 0px;
    margin-top: -47px;
}

/* Personnalisation de mes titres H3*/
.h3WebDev span {
    color: var(--darkgreen);
    text-shadow:
        -1px  1px 0 var(--lightgreen),  /* Ombre en haut gauche */
        1px  1px 0 var(--lightgreen),   /* Ombre en haut droite */
        -1px -1px 0 var(--lightgreen),  /* Ombre en bas gauche */
        1px -1px 0 var(--lightgreen);   /* Ombre en bas droite */
}

/*  Version 2 des cards, celle au background color vert sombre*/
.greencard2 {
    background-color: var(--darkgreen);
    border: solid 1px var(--lightgreen);
    width: 400px;
    height: 281px;
    border-radius: 1rem;
    margin-top: -10px;
    margin-left: 20px;
}

.imgDarkGreen {
    margin-left: -13px;
    height: 142px;
    margin-top: -2px;
}

#liDarkGreen p {
    font-size: 1.2rem;
    margin-top: -20px;;
}

#liDarkGreen li {
    font-size: 1.2rem;
    list-style-type: disc;
    margin-left: 50px;
}


/* Je configure mon second bouton */
.BtnKnowMore2 {
    margin-top: 70px;
    margin-left: 80px;
    padding-top: 5px;
    padding-left: 8px;
    width: 100px;
    height: 30px;
    background-color: var(--leafgreen);
    border-radius: 1rem;
    transition: background-color 0.3s ease;    
}

.BtnKnowMore2:hover {
    background-color: var(--lightgreen);
}

.BtnKnowMore2 a {
    color: var(--leafboxfontcolor);
    font-weight: 700;
    font-size: 1.4rem;
}


/*  l'adjuster me sers à resserer les cards entre elles
    et les lignes directrices verticales */
.adjuster {
     margin-bottom: -35px;
}

/* Celui-ci ajuste mon troisieme bouton "en savoir plus" */
.adjustBtn3 {
    margin-top: 22px;
    margin-left: 75px;
}

/*  CSS du bouton de contact en bas */
#redirectContact p {
    margin-top: 55px;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 25px;
}

/*  Création de ma catégorie derniers projets */
.eventcardimg {
    width: 190px;
    height: 140px;
    margin-bottom: 10px;
}

.eventcard {
    background-color: var(--leafgreen);
    width: 190px;
    height: 380px;
    border-radius: 1rem;
}

/* Gestion des "titres" d'event*/
.eventtitle p, #eventtitle2 p{
    font-size: 1.4rem;
}

.eventcard p {
    font-size: 1.2rem;
    color: var(--leafboxfontcolor);
}

/* Gestion des images du "Ils me font confiance" */
.partnerimg1, .partnerimg3 {
    height: 102px;
    width: 102px;
}

.partnerimg2 {
    width: 128px;
    height: 102px;
}



/*******************/
/*  CSS du footer */
#footer {
    width: 430px;
    height: 370px;
}

#footer a, #footer p {
    color: var(--leafgreen);
}

.emailcontact img {
    margin-right: 5px;
    margin-bottom: 9px;
}

.footerleft p {
    margin-top: 5px;
}

.footerleft span {
    color: var(--leafgreen);
    font-weight: 800;
}

.footerleft img {
    margin-top: -30px;
}

.footerright div {
    margin-bottom: 5px;
}

.footerright p {
    font-weight: 800;
    margin-top: 20px;
}



/************************************************************/
/*  J'ai commencé par des medias query qui cache les navbar inutile en fonction
    de la taille de l'écran.*/

@media (max-width: 430px) {
    #navbarre {
        display: none;
    }

    .eventcard3 {
        display: none;
    }

}

@media (min-width: 431px) {
    #mobileNavbar {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    /* Responsive des éléments en tablette et petit écran portable */
    .herobanner img {
        width: 100%;
        height: auto;
    }

    #footer {
        width: 100%;
    }

    .eventcard {
        height: 400px;
    }

    .greencard {
        margin-left: 48%;
    }

    .greencard2 {
        margin-left:17%;
    }

    .leftVerticalSeparator {
        margin-left: 14%;
    }

    .h3GraphAndEvent {
        margin-right: 13%;
    }

    .h3WebDev {
        margin-left: 13%;
    }
} 

@media (min-width: 1400px) {

    .herobanner img {

        width: 100%;
        max-width: 1440px;
        height: auto;
    }




    #textlogo {
        font-size: 24rem;
        top: 250px;
    }

    p { font-family: var(--font-para);
        font-size: 1.6rem; }

    a { font-family: var(--font-para);
        font-size: 1.6rem;
        text-decoration: none; }

    h2 { font-size: 3.4rem; }
    h3 { font-size: 2.2rem; }

    .leftVerticalSeparator, .rightVerticalSeparator {
        margin-left: 0;
        padding: 0;
        margin-bottom: -84px
    }

    .leftVerticalSeparator {
        margin-left: 80px;
    }

    /* Bouton de bas de page */
    .contactBttn {
        background-color: var(--leafgreen);
        height: 60px;
        width: 280px;
    }

    .contactBttn a {
        font-size: 3.5rem;
    }

    .boxperso {
        width: 900px;
    }


    /*  Je créer une boite qui va emballer
        mon h3 et ma carte afin de les garder aligné */
    .h3-wrapper {
    margin-left: calc(45% + 25px);
    margin-right: auto;
    }

    .h3GraphAndEvent {
        margin-left: 72px;
        margin-right: auto;
        text-align: start;
    }
    
    .h3GraphAndEvent, .h3WebDev {
        font-size: 9rem;
    }

    /*  Ici j'ai pas eu besoin. Position relative m'a aidé
        et le h3 web dev est magique je crois. */ 
    .h3WebDev {
        margin-left: calc(50% - 630px); 
        margin-right: auto;
    }

    .adjustEvent {
        margin-left: 267px;
    }

    .greencard {
        margin-left: calc(45% + 25px);
        margin-right: auto;

    }

    
    /*  Ajustement de la taille des cartes et de leurs contenus */
    .greencard, .greencard2 {
        height: 442px;
        width: 660px;
    }

    .greencard2 {
        position: relative;
        margin-left: calc(50% - 620px); 
        margin-right: auto;
    }

    .h3WebDev{
        margin-top: 0px;
        margin-left: 30px;
    }

    .imgGreenLeafCard, .imgDarkGreen {
        width: 330px;
        height: 222px;
    }

    #liGreenLeaf p, #liGreenLeaf2 p, #liGreenLeaf li, #liDarkGreen p, #liDarkGreen li {
        font-size: 1.6rem;
    }

    #liGreenLeaf .greenLeafPara {
        margin-top: 50px;
    }

    .imgGreenLeafCard {
        margin-left: -6px;
    }

    .imgDarkGreen {
        margin-left: 0px;
    }

    #liDarkGreen p {
        margin-top: 80px;
    }

    #liDarkGreen li:last-child {
        margin-bottom: -70px;
    }

    /**********************/
    /* Ajustement des boutons */

    .BtnKnowMore a, .BtnKnowMore2 a {
        font-size: 1.8rem;
        margin-left: 2px;
    }

    .BtnKnowMore {
        width: 130px;
        height: 35px;
        margin-left: 180px;
        margin-top: 95px;
    }

    .BtnKnowMore2 {
        width: 130px;
        height: 35px;
        margin-left: 170px;
        margin-top: 155px;
    }

    /* Celui-ci ajuste mon troisieme bouton "en savoir plus" */
    .adjustBtn3 {
        margin-top: 132px;
        margin-left: 180px;
    }

    /****************************************************/
    /* Création et ajustements des cartes derniers events */

    .eventcardimg {
        width: 360px;
        height: 255px;
        margin-bottom: 10px;
    }

    .eventcard {
        background-color: var(--leafgreen);
        width: 359px;
        height: 500px;
        border-radius: 1rem;
    }

    #eventtitle p {
    font-size: 1.8rem;
    }

    .eventcard p {
    font-size: 1.6rem;
    color: var(--leafboxfontcolor);
    }

    /* gestion des logos "ils me font confiance*/
    .partnerbox {
        display: flex;
    }

    .partnerimg1, .partnerimg2, .partnerimg3 {
        height: 250px;
        width: auto;
        border-radius: 1rem;
    }

    /* Phrase du bouton contact du bas */
    #redirectContact .catchphrase {
        font-size: 3rem;
        margin-bottom: 35px;
    }


    /*********************/
    /*  Section footer */
    #footer {
    width: 100%;
    height: auto;
    }

    .footerleft {
        display: flex;
        flex-direction: row-reverse;
    }

    .footerleft .logo {
        margin-top: 5px;
        margin-right: 20px;
    }

    .footerleft .separator {
        display: none;
    }

    .footerright {
        display: flex;
        justify-content: space-around;
        width: 400px;
        text-align: center;
    }

}


